body {
    font-family: Arial, sans-serif;
    padding:2px;
    background: #f4f6f8;
    /* background-image: url('https://imgs.search.brave.com/2n1UQi5rz-nHoVjkyOMW1O2JInXDUBnxpaXYlQ4Kl04/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzFhLzc5/LzgyLzFhNzk4Mjc0/NjhkN2U1ODlmOGMz/MjNkMTE1ZDIxNTc5/LmpwZw'); */
    background-image: url('Assets/seating.jpg');

    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }

  h1 {
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration:4px #1f2133 underline;
    text-shadow: 1px 2px 1px rgb(194, 145, 90);
    padding-bottom: 30px;
  }
  
  h2 {
    text-align: center;
    text-decoration: double;
    color:#f5eded;
    border: 2px solid rgb(28, 67, 104);
    border-width: 8px;
    background-color: #31975363;
    border-style:groove;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 3px #dc3545;
    width: 40%;
    padding: 2px;
    border-radius: 40px;
    margin:10px auto ;
  }
  
  .seat-map {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .seat {
    width: 60px;
    height: 60px;
    background-color: #74dd8c;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .seat.selected {
    background-color: #007bff;
    color: white;
  }
  
  .seat.booked {
    background-color: #dc3545;
    color: white;
    cursor: not-allowed;
  }
  
  .legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .legend div {
    margin: 0 10px;
    color: rgb(0, 0, 0);
    background-color: #ccc;
  }
  
  .box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .available {
    background: #65c97c;
  }
  
  .selected-box {
    background: #007bff;
  }
  
  .booked-box {
    background: #dc3545;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 16px;
  }

  button:hover{
    background-color: #0056b3;
  }
  
  @media only screen and (max-width: 590px) {
    body {
      font-size: 12px;
      padding: 10px;
    }
  }